<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoinCoin</title>
</head>
<body>
    <h1>Retirer</h1>
    <form action="/retirersomme">
            <label for="Retrait">Rentrez le montant à ajouter :</label>
            <input type="number" class="form-control" name="retrait">
            <input type="submit" class="btn btn-primary" value='Retirer'></input>
        </form>
        </body>
</html>