<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoinCoin</title>
</head>
<body>
    <h1>Historique des transactions</h1>
    <form action="/alltransactions">
            <label for="Ajout">Transactions :</label>
            <ul>
                <% transac.forEach(function(item) {%>
                    <li><%= item.type %> de <%= item.montant %> euros, le <%= item.date %></li>
                <%});%>
            </ul>
            
        </form>
        </body>
</html>